a,.experience .m-2 .border, .experience .col.border-right, .experience .m-2 .border.exp-fill, .btn-outline-primary, .docs-toggle   {
    color: white!important;
    border-color:white!important;
}

a {
    text-decoration: underline;
    font-weight: bold;
}

#navbar-main a, .docs-links a{
    text-decoration: none;
}

a:hover, h3.article-title a:hover  {
    color:#14aae0;
}

.btn-outline-primary:hover {
    background-color: #14aae0;
    border-color:white;
}

.experience .m-2 .border.exp-fill {
    background-color: #14aae0!important;
}

.dark ul.share li a {
    background-color: #14aae0!important;
}

.description-bio {
    text-align: justify;
}